{% extends "blog/base.html" %}

{% load blog_tags %}



{% block title %}Share post{% endblock title %}

{% block content %}
  {% if sent %}
    <p>
      <a href="{% url 'blog:post_detail' post.id post.slug %}">
        {{ post.title }}
      </a> 
      has been shared with {{ form.cleaned_data.to_email }}.
    </p>
  {% else %}
    <form method='post'>
        {% csrf_token %}

        {% form_snippet form %}


        <input class="button is-rounded is-success is-outlined mt-3" type="submit" value="Share">

    </form>
  {% endif %}  
{% endblock content %}